.output_png {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.p-Widget.jp-RenderedImage.jp-mod-trusted.jp-OutpuArea-output {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.prompt {
  display: none;
}
